<h1>Login</h1>

<%= form_with url: login_path, local: true do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email, id: 'email' %>
  
  <%= f.label :password %>
  <%= f.password_field :password, id: 'password' %>
  
  <%= f.submit "Login" %>
<% end %>